<ion-header [translucent]="true" class="ion-padding" *ngIf="!isLoggedIn">
    <ion-toolbar>
        <ion-title class="title-large ion-text-center">
            Stay@Home App
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin login-c" *ngIf="!isLoggedIn">
    <ion-grid class="ion-align-items-center">
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-title size="large">
                    <ion-icon name="home"></ion-icon>
                    Login to Stay@Home App
                </ion-title>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-button
                        type="submit"
                        color="danger"
                        (click)="logInGoogle()"
                        expand="block">
                    Login with Google
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-button
                        type="submit"
                        color="primary"
                        (click)="logInFacebook()"
                        expand="block">
                    Login with Facebook
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="!isLoggedIn">
    <ion-toolbar>
        <ion-title class="ion-text-center" size="small">
            Swision Hungary Ltd.
        </ion-title>
    </ion-toolbar>
</ion-footer>
