ion-content ion-toolbar {
  --background: translucent;
}

.full-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-title {
  font-size: x-large;
}

.home-h2 {
  font-size: larger;
}

.img {
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.nick-input {
  margin-right: 3px;
}

.container {
  display: inline-flex;
}

.elem {
  float: left;
}

.pencil {
  font-size: small;
  padding-left: 0px;
  padding-bottom: 20px;
}

.save {
  font-size: small;
  padding-left: 0px;
  padding-bottom: 5px;
}
