<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="full-grid">
    <ion-row>
      <ion-col>
        <ion-note>Please complete this settings below in order to participate in the game</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item [class.ion-datetime]="false">
            <ion-label>When did your isolation begin?</ion-label>
            <ion-datetime [(ngModel)]="isolationBegin" (ionChange)="updateDate($event)" displayTimezone="utc">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Is this your Home?</ion-label>
            <ion-toggle slot="end" [(ngModel)]="homeIsCorrect" (ionChange)="onHomeRecordedChanged($event)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-note>
          Please go home and when your position is correct toggle the button
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="full-col">
      <ion-col class="full-col">
        <div id="map" class="map"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Do you want to sign out of the app?</ion-label>
          <ion-button color="danger" (click)="authService.SignOut()">Sign out</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
